<?xml version='1.0' encoding='utf-8'?>
<widget id="com.deepanshu.daytracker" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Day Tracker</name>
  <description>Your day-tracker app</description>
  <author email="you@example.com">Deepanshu</author>
  <content src="index.html" />
  <access origin="*" />
  <allow-navigation href="*" />
  <preference name="Orientation" value="portrait" />
  <preference name="Fullscreen" value="true" />
</widget>
